.productsHeading {
  margin: 2vmax auto;
  padding: 2vmax;
  color: #8a2be2;
  font: 700 3vmax "Montserrat";
  text-align: center;
}

.pageContainer {
  display: flex;
}
.products {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5vmax;
  justify-content: center;
  min-height: 50vh;
  width: 80%;
  /* margin-left: 4vmax; */
}

.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  color: #8a2be2;
  font: 600 1.2vmax "Open Sans";
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: #8a2be2;
  color: aliceblue;
}

.pageLinkActive {
  color: white;
}

.filterBox {
  /* width: 10vmax; */
  /* position: sticky; */
  /* position: absolute; */
  /* top: 12vmax; */
  /* left: 4vmax; */
  margin-left: 3vmax;
  background-color: #fff; /* Background color for the filter box */

  border-radius: 5px;
  height: fit-content;
  /* box-sizing: content-box; */
  /* display: inline-block; */
  width: fit-content;
  /* padding: 1vmax; */
  display: flex;
  flex-direction: column;
}
.filterBox > div {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
  padding: 1.3vmax;
  margin-top: 1vmax;
  border-radius: 2px;
  background-color: #fff; /* Background color for the filter box */
}
.heading {
  font: 600 1.6vmax "Montserrat";
  color: #d249eee3;
}

.categoryBox {
  padding: 0%;
  margin-top: 1vmax;
}

.category-link {
  list-style: none;
  color: rgba(0, 0, 0, 0.61);
  color: rgb(80, 80, 80);
  font: 600 1.3vmax "Roboto";
  margin: 0.6vmax;
  cursor: pointer;
  transition: all 0.5s;
}
.category-link:hover {
  color: #e30ef7;
}

/* .filterBox > fieldset {
  border: 2px solid rgba(0, 0, 0, 0.075);
} */

@media screen and (max-width: 600px) {
  .pageContainer {
    flex-direction: column;
  }
  .filterBox {
    display: flex;
    /* flex-direction: row; */
    /* margin-left: 0%; */
    /* width: 100%; */
    /* position: sticky; */
    /* justify-content: space-around; */
  }
  .filterBox > div {
    width: 80vw;
  }
}
