.BuyContainer {
  display: grid;
  place-items: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  margin: 2vmax;
}

.CoinForm {
  width: 30%;
  height: 100%;
}

h1 {
  font-size: 3vmax;
  font-family: "Montserrat";
  font-weight: bolder;
  color: #8a2be2;
  text-align: center;
}
.CoinForm > p {
  font: 400 2vmax "Open Sans";
  color: rgba(0, 0, 0, 0.753);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  padding: 1vmax 0;
  text-align: center;
  width: 50%;
  margin: auto;
}

.CoinForm > div {
  display: flex;
  align-items: center;
  margin: 2vmax 0;
}

.CoinInput {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  outline: none;
  font-family: "Open Sans";
  font-size: 1.1vmax;
}

.CoinForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.CoinFormBtn {
  border: none;
  background-color: #8a2be2;
  color: white;
  font: 300 1.3vmax "Open Sans";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

.CoinFormBtn:hover {
  background-color: #a22ce6d3;
}

@media screen and (max-width: 600px) {
  .CoinForm {
    width: 90%;
  }

  .CoinForm > p {
    font: 400 8vw "Open Sans";
    padding: 4vw 0;
    width: 60%;
  }

  .CoinForm > div {
    margin: 10vw 0;
  }

  .CoinInput {
    padding: 4vw 10vw;
  }

  .CoinForm > div > svg {
    font-size: 6vw;
  }

  .CoinFormBtn {
    font: 300 4vw "Open Sans";
    padding: 4vw;
  }
}
